{% extends "base.html" %}

{% block title %}Adicionar ao Estoque{% endblock %}

{% block content %}
<h1>Adicionar ao Estoque</h1>
<form method="POST">
    <label for="product_id">Produto:</label>
    <select id="product_id" name="product_id" required>
        <option value="" disabled selected>Selecione um produto</option>
        {% for product in products %}
        <option value="{{ product[0] }}">{{ product[1] }}</option>
        {% endfor %}
    </select><br>
    <label for="quantity">Quantidade:</label>
    <input type="number" id="quantity" name="quantity" required><br>
    <input type="submit" value="Adicionar ao Estoque">
</form>
<div class="btn-voltar">
    <a href="{{ url_for('estoque.listar_estoque') }}">
        <button>Voltar</button>
    </a>
</div>
{% endblock %}