<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Produto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
</head>
<body>
    <h1>Adicionar Produto</h1>
    <form method="POST">
        <label for="product_name">Nome do Produto:</label>
        <input type="text" id="product_name" name="product_name" required><br>
        <label for="brand">Marca:</label>
        <input type="text" id="brand" name="brand"><br>
        <label for="price">Preço:</label>
        <input type="text" id="price" name="price" required><br>
        <label for="supplier_id">Fornecedor:</label>
        <select id="supplier_id" name="supplier_id" required>
            <option value="" disabled selected>Selecione um fornecedor</option>
            {% for supplier in suppliers %}
            <option value="{{ supplier[0] }}">{{ supplier[1] }}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Adicionar Produto">
    </form>
</body>
</html>