<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar ao Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
</head>
<body>
    <h1>Adicionar ao Estoque</h1>
    <form method="POST">
        <label for="product_id">Produto:</label>
        <select id="product_id" name="product_id" required>
            <option value="" disabled selected>Selecione um produto</option>
            {% for product in products %}
            <option value="{{ product[0] }}">{{ product[1] }}</option>
            {% endfor %}
        </select><br>
        <label for="quantity">Quantidade:</label>
        <input type="number" id="quantity" name="quantity" required><br>
        <input type="submit" value="Adicionar ao Estoque">
    </form>
    <div class="btn-voltar">
        <a href="{{ url_for('estoque') }}">
            <button>Voltar</button>
        </a>
    </div>
</body>
</html>