<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Fornecedor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
</head>
<body>
    <h1>Editar Fornecedor</h1>
    <form method="POST">
        <label for="supplier_name">Nome do Fornecedor:</label>
        <input type="text" id="supplier_name" name="supplier_name" value="{{ suppliers[0] }}" required><br>

        <label for="celphone">Celular:</label>
        <input type="text" id="celphone" name="celphone" value="{{ suppliers[1] }}"><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ suppliers[2] }}"><br>

        <label for="address">Endereço:</label>
        <input type="text" id="address" name="address" value="{{ suppliers[3] }}"><br>

        <label for="site">Site:</label>
        <input type="text" id="site" name="site" value="{{ suppliers[4] }}"><br>
        <input type="submit" value="Salvar">
    </form>
    <div class="btn-voltar">
        <a href="{{ url_for('produtos') }}">
            <button>Voltar</button>
        </a>
    </div>
</body>
</html>