<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <h1>Estoque G30</h1>
    </div>
    <div class="card-container">
        <a href="{{ url_for('estoque') }}">
            <div class="card">
                <h3>Estoque</h3>
                <img width="90" height="90" src="https://img.icons8.com/dotty/100/warehouse--v2.png" alt="warehouse--v2" style="color: white;"/>
            </div>
        </a>
        <a href="{{ url_for('patrimonio') }}">
            <div class="card">
                <h3>Patrimonio</h3>
                <img width="90" height="90" src="https://img.icons8.com/ios/100/safe.png" alt="safe"/>
            </div>
        </a>
        <a href="{{ url_for('produtos') }}">
            <div class="card">
                <h3>Produtos</h3>
                <img width="100" height="100" src="https://img.icons8.com/ios/100/product--v1.png" alt="product--v1"/>
            </div>
        </a>
        <a href="{{ url_for('fornecedores') }}">
            <div class="card">
                <h3>Fornecedores</h3>
                <img width="100" height="100" src="https://img.icons8.com/ios/100/semi-truck-side-view.png" alt="semi-truck-side-view"/>
            </div>
        </a>
        <a href="{{ url_for('produtos') }}">
            <div class="card">
                <h3>Relatorio</h3>
                <img width="90" height="90" src="https://img.icons8.com/ios/100/health-graph.png" alt="health-graph"/>
            </div>
        </a>
    </div>
</body>
</html>