<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}">
    <title>Products in Storage</title>
</head>
<body>
    <div class="header">
        <h1>Estoque G30</h1>
    </div>
    <div class="content">
        <table border="1">
            <tr>
                <th>Produto</th>
                <th>Marca</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Fornecedor</th>
            </tr>
            {% for product in products %}
            <tr>
                <td>{{ product[0] }}</td>
                <td>{{ product[1] }}</td>
                <td>{{ product[2] }}</td>
                <td>{{ product[3] }}</td>
                <td>{{ product[4] }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="btn-container">
            <a href="{{ url_for('index') }}">
                <button>Voltar</button>
            </a>
            <a href="{{ url_for('adicionar_produto') }}">
                <button>Novo Produto</button>
            </a>
            <a href="{{ url_for('adicionar_produto') }}">
                <button>Fazer Pedido</button>
            </a>
        </div>
    </div>
</body>
</html>